.pokemon_details_container{
    width: 240px;
    height: min-content;
    border-style: solid;
    border-radius: 4px;
    border-color: grey;
    margin-top: 15px;
    position: sticky;
    top: 5%;
    z-index: 1;
    padding: 10px 10px;
}

@media (min-width: 375px) and (max-width: 576px){
    .pokemon_details_container{
        width: 200px;
        top: 6%;
    }
}

.details_help{
    width: 255px;
    height: 150px;
    position: sticky;
    top: 25%;
    z-index: 1;
    text-align: center;
}
.pokemon_front_details_img{
    display: flex;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.pokemon_details_name{
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.table_pokemon_details{
    margin: 0 auto;
}

tr, td{
    border: 1px solid black;
    text-transform: capitalize;
    text-align: center;
    padding: 0 5px;
    font-size: 14px;
}