.pokemon_details_container{
    width: 255px;
    height: min-content;
    border-style: solid;
    border-radius: 4px;
    border-color: grey;

    position: sticky;
    top: 25%;
    z-index: 1;
    padding: 10px 10px;
}

@media (min-width: 375px)and (max-width: 576px){
    .pokemon_details_container{
        width: 200px;
        top: 6%;
    }
}

.details_help{
    width: 255px;
    height: 150px;
    position: sticky;
    top: 25%;
    z-index: 1;
    text-align: center;
}
.pokemon_front_details_img{
    display: flex;
    width: 170px;
    height: 170px;
    margin: 15px auto;
}
.pokemon_back_details_img{
    display: none;
    width: 170px;
    height: 170px;
    margin: 15px auto;
    transform: scale(-1, 1);
}

.pokemon_front_details_img:hover{
    display: none;
}

.pokemon_front_details_img:hover + .pokemon_back_details_img{
    display: flex;
}


.pokemon_details_name{
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.table_pokemon_details{
    margin: 0 auto;
}

tr, td{
    border: 1px solid black;
    text-transform: capitalize;
    text-align: center;
    padding: 0 5px;
}